@import '../../styles/bulma.sass';

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}


.action-sheet {
    position: fixed;
    bottom: -30px;
    left: 0;
    height: 400px;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    border-radius: $radius-large;
}

.action-sheet-wrapper {
    z-index: 2;
}


.button-columns {
    width: 100%;
    .button-wrapper {
    
        .button {
            width: 100%;
        }
    }
}

.nutriment-item {
    width: 100%;
    height: 1rem;
    padding-bottom: 0.5rem;
}

.serving-quantity {
    color: $grey;
}

.serving-unit {
    margin-left: auto;
}
