@import '../../styles/bulma.sass';



.header-padder {
    height: 72px;
	background: $color-primary;
}

.header:before {
	z-index: 100;
	content:'';
	display: block;
	position: fixed;
	top: -100px;
	left: 0px;
	height: 100px;
	width: 100%;
    background: rgba(238, 89, 124, 0);
}

.header {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    background: rgba(238, 89, 124, 0.65);
	backdrop-filter: blur(10px);
}