.header-hero {
    background-image: url('../../assets/images/hero-background.png');
    min-height: 100vh;
    background-size: cover;
}

.header-hero .header-content {
    color: white;
    position: relative;
    left: 0;
    top: 50vh;
    transform: translateY(-50%);
    font-size: 2.25rem;
    .main-title {
        font-weight: 900;
    }
    .subheading {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .glow {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8) ; 
    }
    .glass {
        opacity: 0.8;
    }
}